html,body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height : 100%;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    background-repeat: no-repeat;
  }
}

@media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
      animation-delay: -1ms !important;
      animation-duration: 1ms !important;
      animation-iteration-count: 1 !important;
      background-attachment: initial !important;
      scroll-behavior: auto !important;
      transition-duration: 0s !important;
      transition-delay: 0s !important;
    }
  }

  @keyframes line1{
    0% {border: 3px dashed aqua}
    25% {border: 3px dashed rgb(3, 170, 170);x:100}
    50% {border: 3px dashed rgb(6, 133, 133);x:100}
    100% {border: 3px dashed rgb(5, 90, 90);x:100}
  }
  
  .menuprac {
    z-index: 1;
    outline: none;
    border: none;
    user-select: none;
    user-select: none;
    user-select: none;
    cursor: pointer;
    position: fixed;
    top: 18px;
    left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: inset 0 0 3em 0 aqua, 0 0 1em 0 aqua;
    background: aqua;
  }
  
 ul{
    z-index: 1;
    margin: 0;
    padding: 0;
    min-height: 100%;
  }

li {
    z-index: 1;
    margin: 0;
    padding: 0;
  }
  
 ul {
    z-index: 1;
    padding: 25px;
    position: fixed;
    top: 100px;
    width: 230px;
  }
  
 li {
    z-index: 1;
    list-style: none;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .icon-placeholder {
    z-index: 1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex: 40px 0;
    margin-right: 20px;
  }
  
  .text-placeholder {
    z-index: 1;
    border-radius: 5px;
    width: 200px;
    height: 27px;
    flex: 1;
  }
  
  .refresh {
    z-index: 1;
    padding: 10px;
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .background {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    border:aqua solid 1px;
    background: black;
  }
  
